page-modal {
    .modal {
        background: white;
        max-width: 280px;
        border-radius: 2px;
        width: 80vw;
        margin: 70pt auto;
        box-shadow: 0 16px 20px rgba(0, 0, 0, .4);
        color: black;
    }

    .content {
        background-color: #00000070;
    }

    span.text-right {
        float: right;
        margin-right: 10px;
    }

    .para-text{
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.2rem;
    }
}
