page-settings {
  .icon-foward {
    float: right !important;
  }

  .text-help{
    margin: 15pt 15pt 15pt 10pt !important;
    font-weight: bold;
  }
  ion-label{
    margin: 12pt !important;
  }
}
