<ion-content>
  <div text-center>
    <div class="top-div">
      <ion-icon class="back-arrow text-white" (click)="back()" name="md-arrow-back"></ion-icon>
      <img class="top-logo-img">
      <h1 class="top-header text-white">Change Password</h1>
    </div>

  </div>
  <form [formGroup]="changePasswordForm">
    <ion-item padding>
      <ion-label floating>{{ 'NEW_PASSWORD' | translate }}</ion-label>
      <ion-input class='auto-location full-input' type=password formControlName="password"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let error of error_messages.password">
        <div class="error-message" *ngIf="changePasswordForm.get('password').hasError(error.type) &&
          (changePasswordForm.get('password').dirty || changePasswordForm.get('password').touched)">
          {{ error.message }}
        </div>
      </ng-container>
    </div>

    <div>
      <ion-item padding>
        <ion-label floating>{{ 'CONFIRM_PASSWORD' | translate }}</ion-label>
        <ion-input class='auto-location full-input' formControlName="confirmpassword" [type]="show ? 'text' : 'password'">
        </ion-input>
      </ion-item>
      <div *ngIf=!this.show>
        <ion-icon (click)="passwords()" class="icon-eye" ios="ios-eye" md="md-eye"></ion-icon>
      </div>
      <div *ngIf=this.show>
        <ion-icon (click)="passwords()" class="icon-eye" ios="ios-eye-off" md="md-eye-off"></ion-icon>
      </div>
    </div>

   
    <div>
      <ng-container *ngFor="let error of error_messages.confirmpassword">
        <div class="error-message" *ngIf="changePasswordForm.get('confirmpassword').hasError(error.type) &&
          (changePasswordForm.get('confirmpassword').dirty || changePasswordForm.get('confirmpassword').touched)">
          {{ error.message }}
        </div>
      </ng-container>
    </div>
    <div class="error-message"
      *ngIf="changePasswordForm.get('confirmpassword').hasError('equalTo') && changePasswordForm.get('confirmpassword').dirty || changePasswordForm.get('confirmpassword').hasError('equalTo') && changePasswordForm.get('confirmpassword').touched">
      Password Mismatch
    </div>
    <div text-center class="verify-btn-div">
      <button (click)="onSubmit()" [disabled]="changePasswordForm.invalid" type="submit" ion-button full round>SAVE
        <ion-spinner *ngIf="isLoading" margin-left name="ios"></ion-spinner>
      </button>
    </div>
  </form>
</ion-content>
