<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button (click)="loginNow()" style="color: #fff;font-size: 1.7rem;" padding ion-button icon-only>
        <ion-label class="text-white">{{ 'LOGIN_NOW' | translate }}</ion-label>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="forget-password">{{ 'FORGOT_PASSWORD' | translate }}</div>
</ion-header>

<ion-content>
  <form [formGroup]="forgetForm" padding>
    <ion-item style="margin-top: 10%;">
      <ion-label floating>{{ 'MOBILE_NUMBER' | translate }}</ion-label>
      <ion-input class='auto-location full-input' formControlName="mobile_number"></ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let error of error_messages.mobile_number">
        <div class="error-message" *ngIf="forgetForm.get('mobile_number').hasError(error.type) &&
          (forgetForm.get('mobile_number').dirty || forgetForm.get('mobile_number').touched)">
          {{ error.message }}
        </div>
      </ng-container>
    </div>

    <div style="margin-top: 10%;">
      <p class="tems_policy">{{ 'BY_CONTINUING' | translate }}</p>
      <p class="tems_policy">
        <span style="color: black;" (click)="termsAndconditions()">
          {{ 'TERMS_CONDITIONS' | translate }}
        </span> {{ 'AND' | translate }}
        <span style="color: black;" (click)="privacyPolicy()">
          {{ 'PRIVACY_POLICY' | translate }}
        </span>
      </p>
    </div>
    <button padding class="send-btn" full round ion-button [disabled]="!forgetForm.valid"
      (click)="forgetpassword()">{{ 'SEND' | translate }}
    </button>
  </form>
</ion-content>
