page-forget-password {
  .header.header-md {
    border-bottom-right-radius: 7%;
    background: #198A92;
    min-height: 25%;
    border-bottom-left-radius: 7%;
  }

  .header.header-ios {
    border-bottom-right-radius: 7%;
    background: #198A92;
    height: 25%;
    border-bottom-left-radius: 7%;
  }

  .toolbar {
    contain: initial !important;
  }

  .header-md::after {
    position: unset !important;
  }

  .toolbar-background-ios {
    background: transparent !important;
  }

  .toolbar-background-md {
    background: transparent !important;
  }

  .header-ios::after {
    position: unset !important;
  }

  .text-white {
    text-transform: none;
  }

  .forget-password {
    font-size: 3rem;
    color: white;
    margin-left: 16px;
    margin-top: 16%;
    margin-bottom: 16px;
  }

  .rounded-input.item.item-block.item-md {
    border-bottom: 1px solid #8080803b;
    padding-bottom: 10px;
  }

  .rounded-input.item.item-block.item-ios {
    border-bottom: 1px solid #8080803b;
    padding-bottom: 10px;
  }

  .tems_policy {
    text-align: center;
    color: #808080ad;
    font-size: 1.2rem;
  }

  .send-btn {
    margin-top: 10%;
    background: #198A92;
  }

  button {
    color: white !important;
    font-size: 1.7rem !important;
  }

  .error-message {
    margin-left: 13pt !important;
  }
}
